.featured-character {
  margin: auto;
  padding-bottom: 1rem;
}

.featured-character-img {
  display: block;
  text-align: center;
}

.character-links>li {
  margin-right: 1ch;
  display:inline-block;
  transform: skew(-20deg);
  transition: background-color 0.5s;
  background-color: var(--accent-color);
  border: 1px solid var(--text-color);
}

.character-links>li:hover {
  background-color: var(--text-color);
  border: 1px solid var(--accent-color);
}

.character-links>li a {
  display:block;
  padding: 0.25ch 1ch;
  color: var(--text-color);
  text-transform: uppercase;
  text-decoration:none;
  font-weight: bolder;
  transform: skew(20deg);
}

.character-links>li a:hover {
  color: var(--accent-color);
}

.large-img {
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 3rem var(--primary-dark-color);
}

.featured-character-details {
  width: 100%;
  height: 100%;
  margin: auto;
}

.character-name {
  padding: 1rem 0;
  color: var(--accent-color);
}

.character-details {
  line-height: 1.5;
  text-align: justify;
}

.character-comic-img{
  width: 70px;
  height: 100px;
}

.character-comics>li{
  margin: auto 1ch auto 0;

}

.character-comics{
  height: 100px;
  display: flex;
  overflow-x: scroll;
}



@media (min-width: 768px) {
  .featured-character {
    width: 80%;
  }

  .featured-character-img {
    display: flex;
    text-align: left;
  }

  .featured-character-details {
    margin: auto 1rem;
  }

  .character-comics{
    height: auto;
    display: inline-block;
    text-align: center;
  }

  .character-comics>li{
  margin: 1ch;
  display: inline-block;
}

  .character-comic-img{
    width: 100px;
    height: 150px;
  }
}
