body {
  background-color: var(--primary-dark-color);
  color: var(--text-color);
}

.main-title {
  color: var(--accent-color);
  float: left;
}

.featured-character {
  height: 30em;
}

.carousel {
  height: 30em;
}

.toolbar {
  height: 3em;
  background-color: var(--primary-dark-color);
  padding: 1em 0;
}

.search {
  float: right;
  line-height: 2.5em;
  width: 25em;
  padding: 0 1em;
  background-color: var(--primary-dark-color);
  border: 1px solid var(--primary-color);
  color: var(--text-color);

}
