:root {
  --primary-dark-color: #000;
  --primary-color: #141414;
  --accent-color: #E50914;
  --text-color: white;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
}

main {
  width: 90%;
  margin: 6rem auto;
}

h1 {
  font-weight: bolder;
  color: var(--accent-color);
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 1ch 0;
  color: var(--accent-color);
}

footer {
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-color);
  text-align: center;
  opacity: 0.8;
}

.container {
  display: none;
}

.error-message {
  text-align: center;
  display: none;
}

@media (min-width: 768px){
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 3rem;
  }
  main {
    width: 80%;
    margin: 6rem auto;
  }
}
