body {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding-top: 5rem;
}

.main-title {
  color: var(--accent-color);
  float: left;
}

.featured-character {
  height: 30rem;
  padding: 1rem 2rem;
}

.carousel {
  height: 30rem;
  padding: 1rem 2rem;
}

.toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 2.5rem;
  background-color: var(--primary-dark-color);
  padding: 1rem 2rem;
}

.search-input {
  display: none;
  line-height: 2rem;
  width: 20rem;
  padding: 0 1rem;
  background-color: var(--primary-dark-color);
  border: 1px solid var(--primary-color);
  color: var(--text-color);

}

.search {
  float: right;
  margin-right: 5rem;
}

.icon-search {
  vertical-align: middle;
}
