:root {
  --primary-dark-color: #141414;
  --primary-color: #212121; /*#424242;*/
  --accent-color: #E50914;
  --text-color: white;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  padding: 1rem 0;
}



html, body {
  font-family: Helvetica;
  font-size: 14px;
}
